.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .home-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .sub-title {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }
  
  .university-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .kw-logo img {
    width: 100px;
    height: auto;
  }
  
  .university-info span {
    font-size: 1.5rem;
  }
  
  .banner {
    padding: 15px 20px;
  }
  
  .main-logo img {
    max-width: 100px;
    height: auto;
  }
  
  .banner-nav ul {
    gap: 20px;
  }
  