.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10%;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.sub-title {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.university-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.kw-logo img {
  width: 60px;
  height: auto;
}

.university-info span {
  font-size: 1.5rem;
}

.banner {
  padding: 15px 20px;
}

.main-logo img {
  max-width: 100px;
  height: auto;
}

.banner-nav ul {
  gap: 20px;
}

.fade-in {
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* RECRUIT 버튼 스타일 */
.recruit-button {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  max-width: 90%;
  padding: 15px 30px;
  background-color: #5e6eca;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  animation: fadeIn2 0.5s ease-in;
}

.recruit-button:hover {
  background-color: #5e6eca;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%) scale(1.05);
}

.recruit-button:active {
  transform: translateX(-50%) scale(0.95);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* 팝업 메시지 스타일 */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: black;
}

.popup-content p {
  margin-bottom: 20px;
  margin-right: 20px;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #5e6eca;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #5e6eca;
}
